<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans  
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context  
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/mvc
						    http://www.springframework.org/schema/mvc/spring-mvc.xsd
						    http://www.springframework.org/schema/tx 
						    http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="com.ocean.*" />
	
	<tx:annotation-driven/>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>db.properties</value>
		</property>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/hibernate_demo"/>
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
	</bean>

	<!-- For hibernate.hbm.xml -->
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->		

	<!-- For annotation based configuration -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">	
		<property name="dataSource" ref="dataSource"/>
		
		<!-- To use hibernate.hbm.xml -->
		<!-- <property name="mappingResources">	
			<list>
				<value>hibernate.hbm.xml</value>
			</list>
		</property> -->
		
		<!-- Without hibernate.hbm.xml: Need to explicitly define annotated entity beans -->
		<!-- <property name="annotatedClasses">
			<list>
				<value>com.project.model.Employee</value>
			</list>
		</property>	 -->	
		
		<!-- To auto scan all packages having class annotated with @entity -->
		<property name="packagesToScan" value="com.ocean"/>
						
		<property name="hibernateProperties">
			<props>
				<!-- You can avoid creation of dataSource by providing all properties here -->
				<!-- <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
				<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/spring_hibernate_test</prop>
				<prop key="hibernate.connection.username">root</prop>
				<prop key="hibernate.connection.password">info123!</prop> -->				
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>		
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" p:sessionFactory-ref="sessionFactory">
  </bean>
</beans>