<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<!-- Hibernate properties will be loaded from properties file in DatabaseDao.java file -->
			
		<!-- Use this if we are using xml mapping i.e entityName.hbm.xml file(s) -->
		<!-- <mapping resource="hibernate.hbm.xml" /> -->			
		
		<!-- Annotations @Entity, @Table, etc. will be used for mapping here -->
		<mapping class="com.ocean.Student"/>
	</session-factory>
</hibernate-configuration>
